.GameField{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(10,7,67,1.00);
    font-family: 'Bungee', cursive;
}

#logo{
    width: 700px;
}
#logo:active{
    transform: scale(1, 0.9);
    transition: transform 0.2s color 0.2s;
}


.hh{
    margin: -30px auto 5px auto;
    color: rgb(246, 184, 30);
    font-size: 28px;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 1.5px 1.5px 0 rgba(239,0,0,1.00);
}

#computer{
    margin-bottom: 35px;
    color: rgb(246, 184, 30);
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(239,0,0,1.00);
}

#mobile{
    font-size: 25px;
    padding: 5px;
}

#play{
    position: absolute;
    margin-top: 80px;
    padding: 15px 25px;
	color: rgba(10,7,67,1.00);
	font-family: 'Bungee', cursive;
	font-size: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: rgb(246, 184, 30);
	border: 2px solid rgba(239,0,0,1.00);
	z-index: 100;
	cursor: pointer;
}

.grid{
	display: flex;
	flex-wrap: wrap;
	width: 560px;
	height: 560px;
	margin-bottom: 80px;
}

.grid div{
	width : 20px;
	height: 20px;
}

.pac-dot {
	background-color: rgba(247,191,80,1.00);
	border: 7px solid rgba(10,7,67,1.00);
	border-radius: 10px;
	box-sizing: border-box;
}

.wall{
	background-color: darkblue;
}


/* 과일 아이콘 */
.power-pellet{
    content: url(cherry.png);
    background-color: transparent;
}


/* 고스트 아이콘 */
.blinky{
    content: url(ghost.png);
    filter: contrast(150%);
    border: 0;
    border-radius: 0 !important;
    transform: rotate(0deg) !important;
    background-color: transparent !important;
}
.pinky{
    content: url(ghost.png);
    filter: hue-rotate(-40deg) brightness(200%);
    border: 0;
    background-color: transparent !important;
    border-radius: 0 !important;
    transform: rotate(0deg) !important; 
}
.inky{
    content: url(ghost.png);
    filter: hue-rotate(-190deg) brightness(180%);
    border: 0;
    background-color: transparent !important;
    border-radius: 0 !important;
    transform: rotate(0deg) !important;
}
.scared-ghost{
    content: url(whiteGost.png);
    border: 0;
    border-radius: 0;
    background-color: transparent;
}


/* 팩맨 */
.pac-man{
	background-color: yellow;
	border-radius: 10px;
	border: none;
	transform: rotate(115deg);
}
.pac-man::before, .pac-man::after{
	position: absolute;
	content:"";
	display: block;
	width: 10px;
	height: 10px;
}
.pac-man::before{
	border-radius : 50px 0 0 0;
	background-color: rgba(10,7,67,1.00);
	border-color: rgba(10,7,67,1.00);
}
.pac-man::after{
	border-radius : 50px 0 0 0 ;
	background-color: yellow;
	transform-origin: bottom right;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-animation: eat .5s infinite; /* 입 움직이는 애니메이션 적용 */
	animation: eat .5s infinite;
	background-image: url(data:image/svg+xml;bas64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjEuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMjkuMTA3IDI5LjEwNyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjkuMTA3IDI5LjEwNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPGcgaWQ9ImMxNDdfZnVsbF9tb29uIj4NCgkJPGc+DQoJCQk8cGF0aCBkPSJNMTQuNTU0LDBDNi41NjEsMCwwLDYuNTYyLDAsMTQuNTUyYzAsNy45OTYsNi41NjEsMTQuNTU1LDE0LjU1NCwxNC41NTVjNy45OTYsMCwxNC41NTMtNi41NTksMTQuNTUzLTE0LjU1NQ0KCQkJCUMyOS4xMDYsNi41NjIsMjIuNTUsMCwxNC41NTQsMHoiLz4NCgkJPC9nPg0KCTwvZz4NCgk8ZyBpZD0iQ2FwYV8xXzE0XyI+DQoJPC9nPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: center
}


/* 입 움직이는 애니메이션 구현부 */
@-webkit-keyframes eat{
	0% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	25% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	75% {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	100% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}
@keyframes eat{
	0%{
		transform: rotate(-90deg);
	}
	50%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-90deg);
	}
}


/* 게임종료 */
.gameOver, .won{
    position: absolute;
    margin-top: 130px;
    width: 396px;
    border: 2px solid rgba(239,0,0,1.00);
    text-shadow: 1px 1px 0 rgba(239,0,0,1.00);
    background-color: rgb(246, 184, 30);
    color: rgba(10,7,67,1.00);
    font-size: 40px;
    z-index: 100;
    display: flex;
    justify-content: center;
}
.gameOver::after{
    content: "GAME OVER";
    position: absolute;
}
.won::after{
    content: "YOU WON !";
    position: absolute;
}


/* 다시 시작 */
.restart{
	position: absolute;
	width : 150px;
	height: 40px;
	margin-top: 156px;
	background-color: rgba(10,7,67,1.00);
	border: 2px solid rgba(239,0,0,1.00);
	border-radius: 5px;
	z-index: 200;
	cursor : pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Bungee', cursive;
	font-size: 22px;
	letter-spacing: 1.5px;
	color: rgb(246, 184, 30);
	text-shadow: 1px 1px 0 rgba(239,0,0,1.00); 
}
.restart:hover{
	transform: scale(1.1);
}
.restart::after{
	content: "RESTART";
	position : absolute;
}
.fotr{
	color : rgba(175,255,228,1.00);
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 30px;
	z-index: -2;
}


/* 반응형 웹 */
@media screen and (max-width: 1024px){
    #computer{
        color: transparent;
        text-shadow: none;
    }
    #mobile{
        display: block;
        margin: -20px auto -5px auto;
        color: rgb(246, 184, 30);
        font-size: 20px;
        font-weight: lighter;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 0 rgba(239,0,0,1.00);
    }
}
@media screen and (max-width: 670px){
	.GameField{
		margin: 0;
	}
	#logo{
		width: 100vw;
	}
	.hh{
		margin: -20px auto 20px auto;
		font-size: 20px;
	}
	#computer{
		display: none;
	}
	#mobile{
		margin: -10px 5px -5px 5px;
		font-size: 15px;
	}
	#play, .gameOver, .won{
	margin-top: 13px;
	font-size: 20px;
}
	.grid{
		width: 98vw;
		height: 98vw;
		margin-bottom: 40px;
	}
	.grid div{
		width : 3.5vw;
		height: 3.5vw;
	}
	.pac-dot {
		border: 5px solid rgba(10,7,67,1.00);
		border-radius: 50%;
	}
	.clyde, .pinky, .inky, .blinky{
		border: none;
	}
	.pac-man{
		border-radius: 50%;
		border: none;
	}
	.pac-man::before, .pac-man::after{
		width: 1.75vw;
		height: 1.75vw;
	}
	.gameOver, .won{
		width: 90vw;
		height: 13vh;
		padding: 5px 0;
	}
	.restart{
		margin-top: 25px;
		font-size: 20px;
	}
	.fotr{
		font-size: 15px;
		text-align: center;
	}
}